@model AllMoviesQueryModel

@{
    ViewBag.Title = "All Cars";
}

@foreach (var movie in Model.Movies)
{
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="@movie.ImageUrl" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">@movie.Title</h5>
        <p class="card-text">@movie.Duration     @movie.Production</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
}
